@model projet.Models.Module

@{
    Layout = "~/Views/Shared/_LayoutEnseignant.cshtml";

    ViewData["Title"] = "Details";
}

<center>
    <h2>Les informations des modules </h2>
    <div>

        <hr />
        <table class="table table-bordered table-active">

            <tr>
                <td>
                    Le numero de module
                </td>
                <td>
                    @Html.DisplayFor(model => model.id_mod)
                </td>
            </tr>
            <tr>
                <td>
                    Le nom de module
                </td>
                <td>
                    @Html.DisplayFor(model => model.nom_mod)
                </td>
            </tr>
            

        </table>
    </div>



</center>


















