@model projet.Models.Module
@{

    Layout = "_LayoutAdmin";
}
<style>

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .box select {
            background-color: deepskyblue;
            color: white;
            padding: 12px;
            width: 250px;
            border: none;
            font-size: 20px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            -webkit-appearance: button;
            appearance: button;
            outline: none;
        }

        .box::before {
            content: "\f13a";
            font-family: FontAwesome;
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
            height: 100%;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
           
            color: deepskyblue;
            background-color: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }

        .box:hover::before {
            color: deepskyblue;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .box select option {
            padding: 30px;
        }
</style>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script>



    $(document).ready(function () {
        $('#btnUpload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fUpload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fUpload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/ImportExport?handler=Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        $('#dvData').html(response);
                    }
                },
                error: function (e) {
                    $('#dvData').html(e.responseText);
                }
            });
        })




        $('#btnUpload2').on('click', function () {
            var fileExtension = ['pdf', 'docx', 'xls', 'xlsx'];
            var filename = $('#fUpload2').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only pdf ou docx files.");
                    return false;
                }
            }


        })
    });
</script>
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Import Excel file to Add list of Modules</h3>
        <div class="white-panel mt">
            <div class="panel-body">
                <div>
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <noscript>
                        <input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/">
                    </noscript>
                </div>
                <div>
                    <h3 class="bg-info">
                        <i class="fa fa-plus-circle"></i> Add a  list of modules
                    </h3>
                    <br />
                    <br />
                    <br />


                </div>


            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="box"  style="margin-left:110px">
                <div >
                    <select id="fil" name="listfil" asp-items='@(new SelectList(ViewBag.filiere,"id_fil","nom_fil"))'>
                        <option> select filiere </option>
                    </select>
                    <br />
                    <br />

                    <br />
                </div>
                <br />
                <br />

                <br />
                <form method="post" enctype="multipart/form-data" asp-action="OnPostImport">

                    <br />
                    <br />


</div>
            <div>
                <div class="box"  style="margin-left:110px">

                    <select asp-for="id_niv" id="id_niv" asp-items="ViewBag.id_niv">
                        <option> select niveau </option>
                    </select>
                    <br />

                </div>
            </div>
        <div>
            <br /><br />
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" id="fUpload" name="files">
        </span>
        <br />
        <br />
        <br />
        <button type="submit" id="btnUpload" value="Import Excel file" class="btn btn-theme start">
            <i class=" glyphicon glyphicon-plus"></i>
            <span>Import Excel file</span>
        </button>
        </div>

        </form>


        </div>





    </section>
    <!-- /wrapper -->
</section>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>

    $(function () {
        $("#fil").change(function () {
            var url = '@Url.Content("~/")' + "Modules1/getnivbyid";
            var ddlsource = "#fil";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#id_niv").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.Value + " '>" + row.Text + "</option > ";
                });
                $("#id_niv").html(items);
            })
        });
    });
</script>

